* text=auto eol=lf

*.txt      text
*.md       text
*.sh       text eol=lf
*.bat      text eol=crlf

*.png binary
*.jpg binary
*.gif binary
*.pdf binary
*.otf  binary
*.ttf  binary
*.exe  binary
*.dll  binary

docs/* linguist-documentation
